<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/movie">View Collection</a></li>
    </ul>
</body>
<body>
    <table align="left" border="1">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Studio</th>
            <th>Remove</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td> 
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td align="center">
                <form action="/data10" method = "POST"> 
                    <input type = "hidden" name = "movie" value = '{{ row[0] }}' >
                    <input type = "hidden" name = "year" value = '{{ row[1] }}' >
                    <input type = "submit" value = "X"></p>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>