<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</body>
<body>
    <p>Filter by Year Range</p>
    <form action="/view_year" method="POST">
        <p>Start Year <input type = "text" name="StartYear"></p>
        <p>End Year <input type = "text" name="EndYear"></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
<body>
    <form action ="/view_by_studio" method="POST">
        <p>Filter by Studio Name <input type = "text" name="StudioName"></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
</body>
<body>
    <form action ="/view_by_location" method="POST">
        <p>Filter by Address <input type = "text" name="Address"></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
</body>
<body>
    <form action ="/view/living_actor" method="GET">
        <p>Filter by Living Actor </p>
        <p><input type = "submit" value = "submit"></p>
    </form>
</body>
<body>
    <form action ="/view_by_actors" method="POST">
        <p>View Actors by Genre </p>
        <p>Genre <input type = "text" name="Genre"></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
</body>
</body>
</html>